{% extends "unclewebapp\base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{%static 'unclewebapp\css\style_detalle.css' %}">

<main>
    <div class="box_img">
        <img src="{{id.imagen.url}}" 
        alt="{{id.nombre}}">
    </div>
    <div class="box_info">
        <div class="box_name">
            {{ id.nombre }}
        </div>
        <div class="box_sinopsis">
            {{ id.sinopsis}}
        </div>

        <div class="box_download">
            <a href="{{id.url_descargar}}">
                <div class="btn_download">
                Descargar

                <img src="{% static 'unclewebapp/img/descargar.png' %}" 
                alt="imagen-juego">

                </div>
            </a>
        </div>  
    </div>


</main>      

{% endblock %}