/* body{
    background-color: #161f2f;
    font-family: Arial, sans-serif;
  } */


body {
    background-color: #161f2f;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

.container-detalle {
    padding: 20px ;
    border-radius: 10px;
    background-color: #474c67;
    display: grid;
    /* grid-template-columns: repeat(2,minmax(0,1fr)); */
    grid-template-columns: 290px 1fr ;
    gap: 2vw;
    margin: 3vw;
}

.box_img{
    /* background-color: blueviolet; */
    max-width: 290vw;
    max-height: 501vw;
}

.box_img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.box_info{
    color: white;
    display: grid;
    /* grid-template-columns: repeat(1, minmax(min-content, 1fr)); */
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-auto-rows: minmax(1fr, max-content); */

    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-auto-rows: minmax(min-content, 1fr);
    /* background-color: cadetblue; */
    gap: 1vw;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    height: 100%;
    width: 100%;
}


.container-text {
    display: grid;
    grid-template-columns: repeat(1,minmax(min-content,1fr));
    grid-auto-rows: minmax(min-content, max-content); 
}

.box_name{

    font-weight: bold;
    padding: 10px 0px 0px 10px;
    font-size: 1.50rem;
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    
}

.box_sinopsis{  
    padding: 20px 0px 0px 10px ;
    font-size: 1rem;
    line-height: 1.5;

    /* background-color: chocolate; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.box_download {
    /* background-color: bisque; */
    /* align-items: center; */
    display: flex;
    justify-content: right;

    border-radius: 5px; 
    padding: 10px 20px 10px ; 
}

.box_download a{
    text-decoration: none;
}

.btn_download{
    border-radius: 25px;
    color: white;
    font-size: 20px;
    background-color: #2c6ee6;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

.btn_download img{
    width: 20px;
    height: 20px;
    align-items: center;
    display: inline-block;
    
}


@media only screen and (max-width: 863px)
{
    main{
        margin: 3.5vw;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1vw;
    }

    .container-detalle {
        
        padding: 20px ;
        border-radius: 10px;
        background-color: #474c67;
        display: grid;
        /* grid-template-columns: repeat(2,minmax(0,1fr)); */
        grid-template-columns: repeat(1, 1fr ) ;
        grid-auto-rows: 501px 1fr;
        /* grid-template-columns: repeat(1, 200px 1fr)  ; */
        gap: 2vw;
        margin: 3vw;
    }

    .box_img{
        /* background-color: blueviolet; */
        max-width: 1fr;
        text-align: center;
        /* max-height: 501px; */
    }

    .box_img img{
        /* max-width: 50vw;
        max-height: -50px; */
        width: 300px;
        height: 500px;
        
        /* width: 100%;
        height: 100%; */
        border-radius: 10px;
        object-fit: cover;
    }

    .box_info{
        color: white;
        display: grid;
        /* grid-template-columns: repeat(1, minmax(min-content, 1fr)); */
        /* grid-template-columns: repeat(1, 1fr); */
        /* grid-auto-rows: minmax(1fr, max-content); */
    
        grid-template-columns: repeat(1,minmax(0,1fr));
        grid-auto-rows: minmax(min-content, max-content);
        /* background-color: cadetblue; */
        gap: 1vw;
        object-fit: cover;
        border-radius: 10px;
        max-width: 100%;
        height: 100%;
        width: 100%;
    }





}