*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    height: 100%;
    width: 100%;
}


.footer{
    background-color: #161f2f;
    padding: 50px 0px 35px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

.footer-links{
    width: 10%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
    padding-bottom: 10%;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    columns: gray;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: white;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    /* background-color: rgba(255,255,255,0.2); */
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    /* color: white; */
    transition: all .5s ease;
    
}

.social-links a:hover{
    color: white;
    padding-left: 6px;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}